---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
<p><strong>This is a <a href="https://github.com/glitchdotcom/my-site/">sample website for experimenting with Fastly Compute</a> – it's a clone of the <a href="https://github.com/11ty/eleventy-base-blog">Eleventy Base Blog</a> with some tweaks for building apps to run in front of it at the network edge.</strong></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
