---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
<p>This is Jennifer's <a href="https://github.com/glitchdotcom/my-site/">sample website</a> for experimenting with <a href="https://www.fastly.com/documentation/guides/compute/">Fastly Compute</a> – it's a clone of the <a href="https://github.com/11ty/eleventy-base-blog">Eleventy Base Blog</a> with some tweaks for building apps to enhance the UX at the network edge.</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
